/* Estilo global */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Sección de mantenimiento */
#under-construction {
    position: relative;
    width: 100%;
    height: 100vh; /* La sección ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contenedor de la imagen */
.image-container {
    width: 100%;
    height: 100%; /* La imagen ocupa toda la pantalla */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Asegurarse de que la imagen esté detrás del texto */
}

.maintenance-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda la pantalla */
    opacity: 1; /* Imagen completamente visible */
}

/* Contenedor de texto */
.text-container {
    z-index: 10;
    margin-bottom: 40px;
    color: white;
}

h2 {
    font-size: 2em;  /* Tamaño más pequeño para que el texto ocupe menos espacio */
    font-weight: bold;
    margin: 20px 0;
    color: #ffffff;
    text-transform: uppercase; /* Hacer que el texto sea en mayúsculas */
}

p {
    font-size: 1.1em;  /* También reducimos el tamaño del párrafo */
    margin-bottom: 20px;
    color: #ffffff;
}

/* Contenedor del formulario */
.form-container {
    z-index: 10;
}

#email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#email-form input[type="email"] {
    padding: 15px;
    font-size: 1.2em;
    width: 80%;
    max-width: 500px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    outline: none;
    transition: all 0.3s ease; /* Efecto al hacer hover */
}

#email-form input[type="email"]:focus {
    border-color: #1E3A8A;
    box-shadow: 0 0 10px rgba(30, 58, 138, 0.3); /* Sombra sutil cuando el campo está enfocado */
}

#email-form button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #1E3A8A;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#email-form button:hover {
    background-color: #4A73C8;
}

/* Mensaje de agradecimiento */
#thanks-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}

.hidden {
    display: none;
}

